.title {
    color: rgb(24, 29, 168);
    font-weight: bold;
    text-align: left;
    font-size: 52px;
    padding-top: 25x;
    padding-bottom: 50px;
}

body{
    background-color: rgb(172, 214, 238);
    text-align: left;
    color: rgb(24, 29, 168);

}

.recipe_list_container, .steps_container{
text-align: left;
width: 800px;
}

.recipe_ul, .steps_ol{
text-align: left;
}

h3{
    background-color: blue;
    color: white;
    
}

li{
    padding-bottom: 7px;
}